.contentContainer {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
}

@media screen and (max-width: 920px) {
  .contentContainer {
    width: 100%;
    position: absolute;
  }
}
