.extensionForm {
  margin: 10px;
}

.extensionItem {
  margin: 5px 0;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
}

.extensionItem a {
  color: #989ea3;
  text-decoration: none;
}
.extensionItem a:hover {
  color: #d84343;
}
