.chatContainer {
  height: 95%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 10px solid #00000091;
  border-radius: 8px;
  overflow: hidden;
}
.chatContent {
  display: flex;
  flex-direction: column-reverse; /* 確保訊息從底部開始顯示 */
  align-items: center;
  width: 100%;
  flex: 1;
  background: #ffe3543d;
  border-radius: 5px;
  overflow-y: auto; /* 添加滾動條 */
}
.chatUser {
  display: flex;
  width: 95%;
  border: 3px solid #aeaeae;
  border-radius: 8px;
  margin: 5px 5px;
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  width: 20%;
  min-width: 130px;
  background: #8b98ffab;
}
.userImg {
  width: 30%;
  min-width: 40px;
  border-radius: 50%;
}
.userName {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.userName,
.userContainer {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: #4a2c2a;
}
.userContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background: #b4ffaba8;
  padding: 0 10px;
}
.userContent {
  margin-left: 10px;
  word-wrap: break-word; /* 確保內容自動換行 */
  width: 60%; /* 設置最大寬度，確保不會擠壓到時間戳 */
}
.timestamp {
  width: 30%;
  font-size: 15px;
  min-width: fit-content;
}
.chatPanel {
  width: 100%;
  height: 20%;
  border: 3px solid #00000075;
  border-radius: 8px;
  background: #2e2e2e3b;
  display: flex;
}
.chatInput {
  height: 100%;
  width: 90%;
  background: rgb(162 255 252 / 24%);
  border-radius: 8px;
  resize: none;
  overflow: auto;
  outline: none; /* 移除輸入時的外框 */
}
.chatBtn {
  height: 100%;
  width: 10%;
  min-width: 82px;
  border-radius: 8px;
  opacity: 0.5;
}
.chatInput,
.chatBtn {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  color: #4a2c2a;
}
.chatBtn:hover {
  opacity: 1;
}

@media screen and (max-width: 920px) {
  .chatContainer {
    width: 90%;
  }
  .user {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .userContainer {
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
  }
  .userContent,
  .timestamp {
    width: 100%;
  }
}
