.centerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loginContainer {
  background-color: rgba(247, 197, 105, 0.6);
  margin: 20px 0;
  padding: 20px;
  border-radius: 10%;
  box-shadow: 0 0 50px rgba(209, 88, 7, 0.727);
  min-width: 350px;
  max-width: 500px;
  width: 50%;
}

@media screen and (max-width: 920px) {
  .centerWrapper {
    position: relative;
    top: 0;
  }
  .loginContainer {
    position: absolute;
    top: 0;
  }
}
