@media screen and (max-width: 920px) {
  .imageMapRwdItem {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    min-height: 80px;
    width: 100%;
    border: 3px solid #27ffe51a;
    box-sizing: border-box;
    background: #d9ffd64f;
    cursor: pointer;
  }
  .imageMapRwdItem:hover {
    background: #dcff474f;
  }
}
