.detailContainer {
  width: 100%;
  height: 100%;
  display: flex;
}
.detailLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  padding: 20px;
  background: #ffffff3d;
  align-items: center;
}
.backBtn {
  margin: 5px 0;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  color: #989ea3;
  cursor: pointer;
  width: auto;
  border-radius: 5px;
}
.backBtn:hover {
  background: #6ebdffc7;
}

.leftImg {
  width: 80%;
  height: 70%;
  border-radius: 5px;
  object-fit: contain;
}
.detailRight {
  width: 60%;
  padding: 20px;
  background: #a5f6ff45;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
