.footerContainer {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  font-size: 15px;
  color: #fff8f1;
}

.fbIcon,
.lineIcon,
.mailIcon {
  margin: 0 5px;
  cursor: pointer;
  color: #fff8f1;
}
